[Unit]
Description=Newsfeed Service
[Service]
Environment="APP_PORT=8082"
ExecStart=/usr/bin/java -jar /home/centos/bin/newsfeed.jar
Type=simple
User=centos
[Install]
WantedBy=multi-user.target
